{% extends 'fitnessclub/servicesBase.html' %}
{% load static %}
{% load bootstrap4 %}
{% block contentServices %}
<div><h1>Скульптура тела</h1>
<!--<p>Занятие включает в себя аэробную и силовую нагрузку.   Предназначено для проработки основных крупных мышц, способствует увеличению мышечной массы и интенсивному сжиганию  жира. Тело становится рельефным, подтянутым, стройным и красивым. Силовые нагрузки в сочетании с аэробными повышают выносливость, тренируют сердечно-сосудистую систему, способствуют ускорению обмена веществ. Многие из упражнений данной программы направлены на проработку ягодичных мышц, что особенно актуально для девушек. Урок – средний по интенсивности, может проводиться с использованием различного инвентаря: утяжеленные мячи, гантели, утяжеленные гимнастические палки (бодибары).</p>-->
</div><br />
<div class="content-types" style="font-size: 1.2em"><strong>В силовой тренировке в групповых программах происходит работа в первую очередь над силовой выносливостью: </strong><br />
    <ul style="font-size: 1em">
        <li> Небольшие гантели, работа с собственным весом; </li>
        <li> Многоповторность; </li>
        <li> Продолжительное время под нагрузкой; </li>
        <li> Минимальное время отдыха; </li>
        <li> Непрерывность работы. </li>
    </ul><br />
    <strong>Эффекты силовой тренировки в формате групповой программы: </strong><br />
    <ol>
        <li> улучшение силовой выносливости; <br /> </li>
        <li> улучшение качества мышц; <br /> </li>
        <li> сжигание лишних кг; <br /></li>
        <li> улучшение состояния сердечно-сосудистой и дыхательной системы</li>
    </ol><br />
    <span style="font-size: 1.3em; font-weight: bold;">Пробная тренировка - БЕСПЛАТНО.</span><br /><br />
</div>
<div class="button_free_lesson">
    <a href="{% url 'freeLesson' %}" ><button id="buttonFreeLesson" class="btn btn-danger active" type="button" aria-pressed="true" style="border-radius: 2em; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);">Записаться на тренировку</button></a>
</div>

{% endblock %}