{% extends 'fitnessclub/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="contacts row">
    <div class="col-xs-12 col-sm-12 col-md-4 contacts-text">
        <h2 class="less-h2"><span>Контакты</span></h2>
        <div class="contacts-block">
            <p>Ул. Лещинского, 1</p>
        </div>
        <div class="contacts-block">
            <p><a href="tel:+375 (29) 000-00-00">+375 (29) 000-00-00</a></p>
            <p><a href="tel:+375 (44) 000-00-00">+375 (44) 000-00-00</a></p>
        </div>
        <div class="contacts-block">
            <p><a href="mailto:fitnessGuide@gmail.com">fitnessGuide@gmail.com</a></p>
        </div>
        <div class="contacts-block">
            <p>Пн-Пт 09:00 — 22:00 </p>
            <p>Сб-Вс 09:00 — 20:00</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 contacts-map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A65da09470074f476d2cde24f39b075798ab0abdabb18b96c1aa3a8727d63bdc9&amp;source=constructor" frameborder="0"></iframe>
    </div>
</div>

{% endblock %}