{% extends 'fitnessclub/servicesBase.html' %}

{% block contentServices %}
<div><h1>Функциональный тренинг</h1>
</div>
<br />
<div class="content-types" style="font-size: 1.25em">Занятие направлено не столько на проработку отдельных групп мышц, сколько на отработку движений, которые мы постоянно используем в повседневной жизни:
    сесть-встать, например, в глубокое кресло; прыгнуть, например, с подножки транспорта, через лужу; подняться-спуститься с лестницы; удержать равновесие; поднять тяжести и т.д.
    Все упражнения построены на воссоздании естественных для человека движений. <br /><br />

    Выполняя то или иное движение, в работу включаются многие&nbsp; мышцы, поэтому
    Вы не только тренируете координацию, выносливость, баланс, но и получаете стройное, красивое и подтянутое тело.&nbsp;<br /><br />

    Занятия функциональным тренингом очень &nbsp;разнообразны, упражнения могут выполняться по кругу, когда часть занимающихся делает одно,
    другая часть – другое, при его проведении может использоваться различный инвентарь: <br />
     <ul style="font-size: 1em">
        <li> утяжеленные мячи; </li>
        <li> утяжеленные гимнастические палки (бодибары); </li>
        <li> гантели; </li>
        <li> ленты для растяжки.</li>
    </ul>

    Посетив занятия данного формата, Вы приобретете отличную физическую форму, повысите свою стрессоусточивость,
    станете красивым и жизнерадостным человеком.&nbsp;<br /><br />

    <span style="font-size: 1.3em; font-weight: bold;">Пробная тренировка - БЕСПЛАТНО.</span><br /><br />
</div>
<div class="button_free_lesson">
    <a href="{% url 'freeLesson' %}" ><button id="buttonFreeLesson" class="btn btn-danger active" type="button" aria-pressed="true" style="border-radius: 2em; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);">Записаться на тренировку</button></a>
</div>
{% endblock %}