{% extends 'fitnessclub/servicesBase.html' %}

{% block contentServices %}
<div><h1>Тренажерный зал</h1>
</div>
<br />
<div class="content-types" style="font-size: 1.25em"> Тренажерный зал &ndash; это место, где Вы сможете поработать над формой своего тела, сделать его таким,
    каким хочется Вам его видеть. В тренажерном зале фитнес-клуба &laquo;FitnessGuide&raquo; есть все для этого.
    Площадь зала 300 м2, специальное спортивное покрытие пола снижает нагрузку на голеностоп. Зал оборудован зеркалами в полный рост в зоне свободных весов.<br /><br />

    <strong>Кардиозона включает: </strong><br />
    <ul style="font-size: 1em">
        <li> 4 беговых дорожки;</li>
        <li> 2 эллипсоида; </li>
        <li> 2 велотренажера; </li>
        <li> 1 степпер. </li>
    </ul>
    Кардиотренажеры производства американской фирмы TRUE, являющейся одним из лидеров на американском рынке в настоящее время.<br /><br />
    Силовое оборудование представлено грузоблочными тренажерами и тренажерами на свободных весах фирмы IMPULSE (Китай), также являющейся одним из лидеров
    в своем сегменте и существующей на рынке уже на протяжении 35 лет. В данной зоне имеются все основные тренажеры: тренажер &laquo;Пек-Бек/ задняя дельта&raquo;, четырехсторонняя станция
    на базе кроссовера, глют-машина, тренажер для внешней и внутренней поверхности бедра,тренажер для подтягиваний и отжиманий &ndash; гравитрон, машина Смита, скамья Скотта, &nbsp;тренажер &laquo;Гакк машина&raquo;,
     тренажер &laquo;Сгибание ног&raquo;, тренажер &laquo;Разгибание ног лежа&raquo;, силовая рама с турником, гантельный ряд от 1 до 40 кг
    и многое другое. В зале имеется небольшая зона функционального тренинга: шведские стенки, TRX-петли, набивные мячи и мешки с песком, тумбы для приседаний и прыжков, скакалки.
    Все, что поможет человеку приобрести стройное, красивое и подтянутое тело, а также получить удовольствие от занятий.<br /><br />

    Тренеры тренажерного зала - профессионалы в своем деле. Они помогут Вам составить программу занятий с учетом Ваших пожеланий и целей.
     Тренер не только составит программу занятий, но и даст советы по питанию, будет контролировать технику выполнения
    упражнений, следить за количеством подходов и повторений,&nbsp;будет корректировать тренировочный процесс по мере Ваших достижений,&nbsp;что поможет добиться результата в самые короткие сроки.
     Помните, что главное - это Ваше желание заниматься и определенные усилия. А успех не заставит себя долго ждать!!!<br /><br />
    <span style="font-size: 1.3em; font-weight: bold;">Пробная тренировка - БЕСПЛАТНО.</span><br /><br />
</div>
<div class="button_free_lesson">
    <a href="{% url 'freeLesson' %}" ><button id="buttonFreeLesson" class="btn btn-danger active" type="button" aria-pressed="true" style="border-radius: 2em; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);">Записаться на тренировку</button></a>
</div>
{% endblock %}