{% extends 'fitnessclub/servicesBase.html' %}

{% block contentServices %}
<div><h1>Пилатес</h1>
</div>
<br />
<div class="content-types" style="font-size: 1.25em"><strong> Пилатес</strong> — занятия, состоящие из бережных и плавных движений, растягивают, укрепляют мышцы,
    достигая согласованной деятельности всех отделов организма. В отличие от других направлений, здесь задействуются не только крупные глобальные,
    но и более мелкие мышцы — локальные, которые, чаще всего, остаются бездействующими при стандартном наборе физических упражнений.<br /><br />

    В данном виде фитнеса такие показатели, как скорость и интенсивность выполнения упражнений, не имеют значения.
    Главное — качество исполнения, которое гарантирует отличный результат.<br /><br />

    Система подходит для людей, имеющих абсолютно разную степень физической подготовки. Регулярные тренировки улучшают кровообращение,
    повышают гибкость тела, тонизируют вялые от сидячего образа жизни мышцы.<br /><br />

    Важное достоинство программы – бережная работа с позвоночником, поэтому данный вид тренировки при остеохондрозе просто незаменим. Система разработана для того,
    чтобы улучшить все аспекты управления телом, помогая укрепить мышечный корсет, улучшить координацию и баланс движений.<br /><br />
    <span style="font-size: 1.3em; font-weight: bold;">Пробная тренировка - БЕСПЛАТНО.</span><br /><br />
</div>
<div class="button_free_lesson">
    <a href="{% url 'freeLesson' %}" ><button id="buttonFreeLesson" class="btn btn-danger active" type="button" aria-pressed="true" style="border-radius: 2em; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);">Записаться на тренировку</button></a>
</div>
{% endblock %}