{% extends 'fitnessclub/servicesBase.html' %}

{% block contentServices %}
<div><h1>Степ-аэробика</h1>
    <p>      </p>
</div>
<br />
<div class="content-types" style="font-size: 1.25em"> Очень динамичное занятие, выполняя движения степ-аэробики,
    вы как будто танцуете, делая разные шаги, прыжки, повороты. Основная нагрузка приходится на ноги,
    также тренируется дыхательная и сердечно-сосудистая система.<br /><br />

    На занятии Вы обучаетесь базовым шагам, соединению их в комбинации, при этом используется степ-платформа.
    Меняя высоту степ-платформы, можно уменьшить или увеличить нагрузку.
    Существует около 200 вариантов подъема и спуска со степ-платформы!<br /><br />

    Занятие интенсивно по количеству сжигаемых калорий, хорошо тренирует выносливость.
    Подходит для всех возрастов и уровней подготовки. Степ-аэробика – это Ваш шаг на пути к совершенству собственного тела.<br /><br />

    <strong>Противопоказания: </strong><br />
    <ul style="font-size: 1em">
        <li> болезни сердца (аритмия, стенокардия и т.д.);</li>
        <li> болезни суставов ног, позвоночника; </li>
        <li> варикозное расширение вен; </li>
        <li> хронические заболевания почек, печени. </li>
    </ul><br />
    <span style="font-size: 1.3em; font-weight: bold;">Пробная тренировка - БЕСПЛАТНО.</span><br /><br />
</div>
<div class="button_free_lesson">
    <a href="{% url 'freeLesson' %}" ><button id="buttonFreeLesson" class="btn btn-danger active" type="button" aria-pressed="true" style="border-radius: 2em; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);">Записаться на тренировку</button></a>
</div>
{% endblock %}