{% extends 'fitnessclub/servicesBase.html' %}

{% block contentServices %}
<div><h1>TABS-Stretching</h1>
</div>
<br />
<div class="content-types" style="font-size: 1.25em"> Занятие направлено на тренировку мышц брюшного пресса, ягодиц и спины.
    Благодаря выполнению упражнений программы Tabs Ваш живот всегда будет плоским, ягодицы подтянутыми. Нагрузка на занятии средней интенсивности.<br /><br />

    При его проведении может использоваться различный инвентарь: <br />
    <ul style="font-size: 1em">
        <li> степ-платформы;</li>
        <li> утяжеленные мячи; </li>
        <li> утяжеленные гимнастические палки (бодибары); </li>
        <li> гантели. </li>
    </ul>
    В нашем клубе занятие Tabs продолжительностью 30 минут дополняется  упражнениями Stretch  (25 минут).
    В данном случае активно прорабатывается пресс, ягодицы, а потом выполняются упражнения растяжки.
    В результате Ваше тело становится стройным и гибким, Вы заряжаетесь энергией и хорошим настроением.<br /><br />

    Все упражнения STRETCH направлены на растяжку связок и мышц. Это делает их более эластичными,
    помогает избежать многих травм, например, растяжений и вывихов.Тело становится гибким, позвоночник подвижным.
    Занятия растяжкой улучшают циркуляцию крови, увеличивают доступ кислорода к органам и мышцам, повышают двигательную активность в зрелом возрасте.
    <br /><br />

    А хорошая физическая форма – залог отличного  настроения, позитивного настроя и активной жизненной позиции.
    Каждое упражнение требует контроля над его выполнением, т.е. внимание должно быть сконцентрировано на том, что Вы делаете.
    При выполнении упражнений могут использоваться дополнительные аксессуары, например ленты для растяжки.<br /><br />
    <span style="font-size: 1.3em; font-weight: bold;">Пробная тренировка - БЕСПЛАТНО.</span><br /><br />
</div>
<div class="button_free_lesson">
    <a href="{% url 'freeLesson' %}" ><button id="buttonFreeLesson" class="btn btn-danger active" type="button" aria-pressed="true" style="border-radius: 2em; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 40%);">Записаться на тренировку</button></a>
</div>
{% endblock %}