.allPrice{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allPrice h3{
    text-align: center;
    font-size: 2em;
    }
.priceAb{
    padding-bottom: 20px;
}
.priceAb{
    width: 100%;
    display: flex;
    justify-content: center;
}
.price-form{
    display: flex;
    flex-direction:column;
    background-color: #fff;
    margin: 2% 0 2% 15px;
    text-align: center;
    border: 2px solid #eee;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%), 0 5px 5px rgb(0 0 0 / 22%);
    line-height: 2em;
}
.price-form-h5 {
    font: normal 1.1em/1.1em Open Sans;
    font-width: bold;
    padding: 5px 10px;
    background-color: #e1e4e5;
    color: #32393d;
    border-bottom: 1px solid #fff;
}
.price-form-h4{
    font: normal 16px/16px Open Sans;
    font-width: bold;
    padding: 5px 10px;
    background-color: #7A041B;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.font-16 {
    font: 16px;
}
.font-20 {
    font: 20px;
}
.price-form-h5-neog{
    font: normal 18px/18px Open Sans;
    font-width: bold;
    padding: 27px 10px;
    background-color: #e1e4e5;
    color: #32393d;
    border-bottom: 1px solid #fff;
}