* {
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 320px){
body {      font-size : 10px !important;    }
}
@media screen and (min-width: 320px){
body {      font-size : 10px !important;    }
}
@media screen and (min-width: 420px){
body {      font-size : 10px !important;    }
}
@media screen and (min-width: 544px) {
body {font-size: 12px !important;}
}
@media screen and (max-width: 576px){
footer {font-size: 16px;}
}
@media (max-width: 992px){
footer {padding: 70px 0 20px;}
}
@media (max-width: 1200px){
footer {padding: 100px 0 30px;}
}

@media (min-width: 576px){
footer .container {max-width: 540px;}
}
@media (max-width: 576px){
footer .column-0 {
    text-align: center;
    margin-bottom: 20px;}
}

@media (max-width: 768px){
footer .column-1, footer .column-2 {padding: 0;}
}
@media (max-width: 992px){
footer .column-1, footer .column-2 {padding: 5px;}
}
@media (max-width: 576px){
footer ul {font-size: 16px;}
}


body, html{
   /* position: relative;*/
    width: 100%;
    height: 100%;
    font-family: Open Sans, Montserrat, Roboto, Arial, sans-serif;

}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
header {
    padding: 0 0 0;
    position: fixed;
    width: 100%;
    margin-bottom: -88px;
    /*-webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;*/
    z-index: 100;
}
/*header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}*/
.navbar-dark .navbar-brand {
    color: #ffc107;
}
.navbar-brand {
    font-size: 1.5rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f69f33ba;
    font-size: 1.3em !important;
}
.navbar-expand-md .navbar-collapse {
    justify-content: center;
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.3em;
}


p .trainers-text, p .trainers-name{
    padding:0;
    margin:0;
}
.trainers-text{
   font-size: 1.2em ;
}
.trainers-name{
   font-size: 1.4em ;
}


.hmain {
    max-height: 100px;
    background-color: #939597;
	display: flex;
	justify-content: space-between;
	padding: 10px 5%;
}
.hftext{
    font-size: 30px;
}
.htext {
	/* position: absolute; */
	/* top: -150px; */
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	color: #ff9900;
	/* margin-left: 35%; */
	text-align: center;
	line-height: 35px;
}
.htext a {
	text-decoration: none;
	color: #ff9900;
}
.vkLink, .facebookLink, .instaLink{
    height: 25px;
    weight: 25px
}
.hcontacts{
	/* position: absolute; */
	/* top: -150px; */
	display: flex;
	flex-direction: column;
	font-size: 20px;
    color: #15a527;
}
.htel {
    color: #fff;
    font-size: 0.75em;
}
.hcontacts .tel,
.hcontacts .mail
{
	font-size: 18px;
	color: #ff9900;
	margin-top: 5px;
}

.content {
    flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 100px 20px 0 20px;
}

/*footer*/
footer {
    background: #FCC82F;
    padding-top: 10px;
    height:auto;
}

footer .container {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer .row {
    width:100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}
footer a{
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
footer .contacts-block {
    font-size: 1.1em;
    margin-bottom: 11px;
    argin-top: 5px;
}
footer p {
    margin-bottom: 0;
    line-height: 1.3;
}
footer .column-0 {
    text-align: center;
    padding: 3px 0;
}
footer .column-1 {
    text-align: center;
    padding: 5px 0 0 0;
}
footer .column-2 {
    text-align: center;
    padding: 3px 0;
}
footer ul {
    font-size: 0.8em;
    padding: 0;
    list-style: none;
}
footer ul li {
    margin-bottom: 8px;
}
footer h3 {
    font-size: 1.5em;
    margin-bottom: 16px;
    text-align: center;
}
footer .row-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
footer .footer-logo{
    font-size: 1.7em;
    margin: 0 0 5px 0;
}
ul .row-link-menu li{
    display: inline;
}


